<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.seelikes.android.cache">
    
    <application>
        <provider
            android:authorities="${applicationId}.cache.provider"
            android:name=".CacheProvider"
            android:exported="false" />
    </application>
    
</manifest>
